@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #860606;
}

.app {
    text-align: center;
}

textarea, #maxNumber, #fileInput {
    width: 300px;
    margin-bottom: 20px;
    display: block;
}

#result, #drawnItems {
    margin-top: 20px;
    font-size: 24px;
    color: green;
}

#confirmationDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

#confirmationDialog.dialog-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
}

.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.dialog-content p, .dialog-content button {
    margin: 20px 0;
}