body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 20px;
    color: #003366;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 35px;
}

.logo-img {
    width: 150px;
    padding-top: 30px;
    margin: 0px;
    align-self: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type="text"],
select,
button {
    width: 100%;
    height: 3em;
    padding: 0 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #f04f23;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #d4411f;
}

.link-container button .iconify {
    margin-left: 0px;
}

#generatedLink {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.link-container {
    display: flex;
    align-items: center;
}

.link-container button {
    width: 3em;
    height: 3em;
    margin-left: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f04f23;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.link-container button:hover {
    background-color: #d4411f;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.new-link-button {
    background-color: #fff;
    color: #f04f23;
    border: 1px solid #f04f23;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-link-button:hover {
    background-color: #f04f23;
    color: #fff;
}

.new-link-button .iconify {
    margin-left: 8px;
}

button .iconify {
    margin-left: 8px;
}
