@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0px;
	padding: 0px;
	box-sizing: border-box; /*Faz com que os valores contem com a borda*/
	-webkit-font-smoothing:antialiased; /*Faz com que os textos fiquemais legíveis*/
	-moz-osx-font-smoothing: grayscale; /*Faz com que os textos fiquemais legíveis na mozila e safari etc*/
    font-family: 'inter', sans-serif ;
}

h1 {
    font-size: 35pt;
    font-weight: 900;
}

p {
    font-size: 20pt;
    font-weight: normal;
}

.topo-bg {
    background-image: url("/imgs/bg-topo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.topo-left {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.logo {
    width: 200px;
}

.topo-left > h1 {
    color: white;
    padding-top: 50px;
    padding-bottom: 70px;
}

.topo-left > p {
    color: white;
    padding-top: 50px;
    padding-bottom: 70px;
}

.topo-right {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
}

.form {
    background-color: orangered;
    border-radius: 20px;
    padding: 50px;
}

.textfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0px;
    width: 100%;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}

.textfield > label {
    color: white;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: rgb(180, 180, 180);;
}

.btn-download {
    width: 100%;
    padding: 16px 16px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: #003366 ;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}