body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #003366;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.logo-img {
    width: 150px;
    padding-top: 30px;
    margin: 0px;
    align-self: center;
}

.search-container {
    position: relative;
    width: 100%;
    margin: 0 auto 30px;
    display: flex;
}

#search-bar {
    width: 100%;
    padding: 15px 20px 15px 40px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 7px;
    transition: box-shadow 0.3s;
}

#search-bar:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #bbb;
}

.dropdown {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 7px;
    z-index: 1000;
    display: none;
}

.dropdown .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown .dropdown-item:hover {
    background-color: #f0f0f0;
}

.filter-button {
    width: 100%;
    padding: 10px 15px;
    border: none;
    background-color: #003366;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.filter-button .iconify {
    margin-right: 5px;
}

.clear-filters {
    width: 100%;
    padding: 0;
    border: none;
    background: none;
    color: #003366;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 20px;
}

.content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.results {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
}

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #fff;
    color: #003366;
    line-height: 100%;
    transition: background-color 0.3s, border-radius 0.3s;
    border-radius: 7px;
    word-break: break-word;
    flex-direction: row;
    font-size: 20px;
    position: relative;
}

.hr-tag {
    width: 100%;
    border: 1px solid #fafafa;
}

.hr-principal {
    width: 100%;
    border: 1px solid #003366;
    margin-bottom: 50px;
}

.copy-button, .delete-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: #003366;
    font-size: 0.7em;
    justify-content: right;
    width: 120px;
    gap: 3px;
}

.copy-button.hidden, .delete-button.hidden {
    display: none;
}

/* Popup and overlay styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.copy-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #003366;
    color: white;
    padding: 20px;
    border-radius: 7px;
    width: 400px;
    z-index: 1002;
    text-align: center;
    word-break: break-word;
}

.copy-popup h1 {
    margin: 0;
    font-size: 24px;
}

.copy-popup p {
    margin: 10px 0 0;
    font-size: 20px;
}

/* Blur effect when copy-popup is active */
body.blur-active::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

/* Media Queries for Responsiveness */
@media (max-width: 412px) {
    .container {
        flex-direction: column;
    }

    .tag {
        flex-direction: column;
    }

    .filter-popup {
        width: 80%;
    }

    .copy-button, .delete-button {
        margin-top: 10px;
        justify-content: center;
        border:solid 1px #003366;
        border-radius: 7px;
        padding: 10px;
        width: 100%;
    }

    .copy-popup {
        width: 80%;
    }
}
